body {
  font-family: Arial, sans-serif;
}
table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
  margin: 8px 0px;
}
thead, tbody {
  display: block;
}
thead {
  border-bottom: 1px solid black;
}
tbody {
  height: 300px;
  overflow: auto;
}
th {
  padding: 2px 5px;
  text-align: left;
  border-right: 1px solid black;
}
th:last-child {
  border-right: none;
}
td {
  padding: 2px 5px;
}
.time {
  width: 120px;
}
