body {
  font-family: Arial, sans-serif;
}
table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
  margin: 4px 0px;
}
thead, tbody {
  display: block;
}
thead {
  border-bottom: 1px solid black;
}
tbody {
  height: 240px;
  overflow: auto;
}
th {
  padding: 2px 5px;
  text-align: left;
  border-right: 1px solid black;
}
th:last-child {
  border-right: none;
}
td {
  padding: 2px 5px;
}
.time {
  width: 120px;
}
input:invalid {
  color: red;
}
label {
  display: inline-block;
  width: 54px;
  text-align: right;
  margin: 4px 0px;
}
@media (min-width: 640px) {
  br {
    display: none;
  }
}
