body {
  font-family: Arial, sans-serif;
}
table {
  width: 100%;
  border: 1px solid black;
  margin: 4px 0px;
  border-collapse: collapse;
  table-layout: fixed;
}
thead, tbody {
  display: block;
}
thead {
  border-bottom: 1px solid black;
}
tbody {
  height: 240px;
  overflow: auto;
}
tr {
  display: table;
  width: 100%;
}
/* #tbody-original tr:hover { */
#tbody-original tr:has(td.control:hover):not(:first-child) {
  border-top: 1px solid black;
}
th, td {
  padding: 2px 5px;
}
th {
  text-align: left;
}
th + th {
  border-left: 1px solid black;
}
th.control, td.control {
  width: 12px;
}
th.time, td.time {
  width: 120px;
}
td.text {
  white-space: pre-wrap;
}
input:invalid {
  color: red;
}
label {
  display: inline-block;
  width: 54px;
  text-align: right;
  margin: 4px 0px;
}
@media (min-width: 640px) {
  br {
    display: none;
  }
}
